#store-locator-container
  #page-header
    %h2 Store Locator
  #form-container
    %form#user-location{action: "#", method: "post"}
      #form-input
        %label{for: "address"} Enter Address or Zip Code:
        %input#address{name: "address", type: "text"}/
      %button#submit{type: "submit"} Submit
  #map-container
    #loc-list
      %ul#list
    #map

-# jQuery Store Locator assets

= javascript_include_tag 'lib/handlebars-1.0.0'
= javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
= javascript_include_tag 'lib/jquery.storelocator'

:coffeescript

  $ ->
    $('#map-container').storeLocator(
      dataType: 'json'
      dataLocation: '/store_locator.json'
    )

